#loginDiv, #newsDiv {
	min-height: 250px;
	word-wrap: break-word;
}

#mapDiv {
	min-height: 500px;
	word-wrap: break-word;
}

.bg-danger, .bg-success {
	padding: 0 5px;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}